<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Calculatrice</title>
    <link rel="icon" href="calc.png">
    <link rel="stylesheet" href="/style.css">

</head>
<body>

    <div id="resultat"></div>

    <div class="calculator">
      <input type="text" id="result" readonly />
      <input type="text" id="input" readonly />

      <input type="button" value="(" onclick="calculator.addToInput('(')" />
      <input type="button" value=")" onclick="calculator.addToInput(')')" />
      <input type="button" value="C" class="clear" onclick="calculator.clearInput()" />
      <input type="button" value="/" class="operator" onclick="calculator.addToInput('/')" />

      <input type="button" value="7" onclick="calculator.addToInput('7')" />
      <input type="button" value="8" onclick="calculator.addToInput('8')" />
      <input type="button" value="9" onclick="calculator.addToInput('9')" />
      <input type="button" value="*" class="operator" onclick="calculator.addToInput('*')" />

      <input type="button" value="4" onclick="calculator.addToInput('4')" />
      <input type="button" value="5" onclick="calculator.addToInput('5')" />
      <input type="button" value="6" onclick="calculator.addToInput('6')" />
      <input type="button" value="-" class="operator" onclick="calculator.addToInput('-')" />

      <input type="button" value="1" onclick="calculator.addToInput('1')" />
      <input type="button" value="2" onclick="calculator.addToInput('2')" />
      <input type="button"value="3" onclick="calculator.addToInput('3')" />
      <input type="button" value="+" class="operator" onclick="calculator.addToInput('+')" />

      <input type="button" value="0" onclick="calculator.addToInput('0')" />
      <input type="button" value="." onclick="calculator.addToInput('.')" />
      <input type="button" value="CE" onclick="calculator.clearLastInput()" />
      <input type="button" value="=" class="operator" onclick="calculator.computeResult()" />
    </div>

    <script src="/calculatrice.js"></script>
</body>
</html>